body
{
background-color:#0099CC;
color:white;
font-family:arial;
font-size:17px;
}



form
{
color:white;
font-family:arial;
font-size:17px;
}



p
{
color:white;
font-family:arial;
font-size:18px;
}



h1
{
color:white;
font-family:calibri;
font-size:50px;
outline:#006699 solid medium;
}



img
{
float:left;
}



a:link
{
color:#0099CC;
}    
a:visited
{
color:#0099CC;
}  
a:hover
{
color:#0099CC;
}  
a:active
{
color:#0099CC;
}  